<header th:fragment="header" position="fixed">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a th:href="@{/}"><div class="shadow"><img th:src="@{https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/344/external-chat-easter-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png}" style="width: 50px; height: 50px;"/></div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" th:href="@{/chatrooms}">ChatRooms</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
              <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" th:href="@{/covid}">COVID-19</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" th:href="@{/contact}">Contact Us</a>
            </li>
          </ul>

          <div sec:authorize="!isAuthenticated()">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="hidden"/>
              <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="loginBtn"><a th:href="@{/login}">Login</a></button>
            </form>
          </div>    


          <div sec:authorize="isAuthenticated()">
            <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button type="submit" class="btn btn-secondary my-2 my-sm-0">Logout</button>
            </form>
          </div>
        </div>
      </nav>
</header>